.tabela{
    width: 100%;
    border-color: brown;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-collapse: collapse;
}

.tabela td,
.tabeela th {
    border: 1px solid black;
    padding: 8px;
}

.tabeela th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: green;
    color: red;
}